{% extends "base.html.twig" %}


{% block title %} Accueil {% endblock %}

{% block body %}
<body style="background-color:#20B2AA" >
<div  class="col-md-6 mx-auto text-center">
     <h1 class>   AGENCELOC </h1>
     <h1 class>Bienvenue à bord</h1>
    <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs5Kso8MhLfEZIPgmFZSnmx446ZSduLemE9T6UdrRT&s" width="500 500">
    </div>
</div>  




    



    

</body>
{% endblock %}
